<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style>
        .button {
            border: rgb(78, 78, 78);
            color: darkslategray;
            background-color: lightgray;
            padding: 3% 5%;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 40px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>

{% seo %}
  </head>
  <body>
    <div id="container">
      <div class="inner">
        <div class="sidenav">
          <br>
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/projects">Projects</a>
          <a href="/archives">Archives</a>
          <a href="https://penguintuner.tytan.rocks">PenguinTuner</a>
          <a href="/Resume-Cleaned.pdf" target="_blank">Resume</a>
        </div>

        {% if page.strip_title %}
        {% else %}
        <header>
          <h1 style="text-align:center">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
          <h2 style="text-align:center">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        </header>
        <hr style="text-align:center;">
        {% endif %}
        <section id="main_content">
            <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
            <p style="text-align:center;">
                Congrats, you found my website.
                
                This website's purpose is to put everything I'm involved in together.
                That may be useful for you if you're an employer or someone trying to find my work.
                <br>
                To the side, you can see a navigation bar that brings you to the various parts of my site.
                <br>
                <br>
                <br>
                My <a href="/about">About</a> link brings you to a page where I talk about myself, what I'm involved in, and things of that nature.
                It's useful if you want to get a feel of my character.
                <br>
                <br>
                The <a href="/projects">Projects</a> link takes you to a page where I talk about my projects, whether it be during school, work, robotics, or personal.
                It's got some pretty cool stuff in it, I'd look at it if you're a Kettering CS student looking for help or an employer gauging what I'm capable of.
                <br>
                <br>
                <a href="/archives">Archives</a> takes you to the landing page for my archived projects, which for me are projects that have an ongoing aspect to it.
                Currently I only have my satellite image project in there, but it's one of the cooler projects I've done so far.
                <br>
                <br>
                <a href="https://penguintuner.tytan.rocks">PenguinTuner</a> is a project I've been working on that's semi-related to my work at CTR Electronics. 
                It's a Linux application that allows users to interact with the CTR Diagnostic Server, which in turn uses the CAN bus to talk to CTR devices.
                Basically, it's Phoenix Tuner but for Linux, and I'm pretty proud of where it's going.
                The Front-End Application is also Open Sourced, so use it however you want, contribute if you want, and file issues or ask questions if you need help.
                <br>
                <br>
                Finally, <a href="/Resume-Cleaned.pdf" target="_blank">Resume</a> takes you to a copy of my resume. 
                Use it as a template for your own resume, or grab it if you're an employer. I don't mind either way.
            </p>
        </section >
        {% if page.strip_acknowledgmenets %}
        {% else %}
        <hr style="text-align:center;">
        <p style="text-align:center;font-size:15px;">
        {% if site.github.is_project_page %}
          {{ site.title | default: site.github.repository_name }} is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a><br>
        {% endif %}
          This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.
        </p>
        {% endif %}

      </div>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>